<ul class="tabs">
  <li class="active"><%= link_to t('tools_history'), "#history" %></li>
  <li><%= link_to t('tools_description'), "#description" %></li>
  <li><%= link_to t('tools_download'), "#download" %></li>
  <li><%= link_to t('tools_settings'), "#settings" %></li>
  <li><%= link_to t('tools_screenshots'), "#screenshots" %></li>
  <li><%= link_to t('tools_todo'), "#todo" %></li>
</ul>