<p>
  <h3>News</h3>
  <table>
    <tr>
      <td><b>21.06.12</b></td>
      <td>Bugfix beim wwLevel speichern in <%= link_to t(:link_khadvancedpatientview), khadvancedpatientview_path %>, <%= link_to t(:link_khadvancedreferral), khadvancedreferral_path %> und <%= link_to t(:link_khpatientcounter), khpatientcounter_path %>.</td>
    </tr>
    <tr>
      <td><b>13.06.12</b></td>
      <td>Bugfix im <%= link_to t(:link_khopticalimprovements), khopticalimprovements_path %> und Korrektur des Downloadlinks für <%= link_to t(:link_khadvancedassignment), khadvancedassignment_path %>.</td>
    </tr>
    <tr>
      <td><b>09.06.12</b></td>
      <td>Bugfix im <%= link_to t(:link_khimprovedgraphics), khimprovedgraphics_path %>.</td>
    </tr>
    <tr>
      <td><b>08.06.12</b></td>
      <td>Bugfix im <%= link_to t(:link_khadvancedassignment), khadvancedassignment_path %> und Überarbeitung der <%= link_to t('link_installdescription'), help_path %>.</td>
    </tr>
    <tr>
      <td><b>05.06.12</b></td>
      <td>Update von <%= link_to t(:link_khadvancedmedrack), khadvancedmedrack_path %>. 2 neue Tools <%= link_to t(:link_khadvancedmemberlist), khadvancedmemberlist_path %> und <%= link_to t(:link_khimprovedgraphics), khimprovedgraphics_path %>.</td>
    </tr>
    <tr>
      <td><b>04.06.12</b></td>
      <td>Update von <%= link_to t(:link_khadvancedassignment), khadvancedassignment_path %> und <%= link_to t(:link_khadvancedreferral), khadvancedreferral_path %>.</td>
    </tr>
    <tr>
      <td><b>03.06.12</b></td>
      <td>Großes Update aller Skripte und der gesamten Tools Seiten.</td>
    </tr>
    <tr>
      <td><b>30.05.12</b></td>
      <td>Die neuen Räume (Schilkröte, kleine Torte, gigantische Torte) haben Einzug im KHPlanner gehalten.</td>
    </tr>
    <tr>
      <td><b>30.05.12</b></td>
      <td>Nun gibt es auch ein Kontaktformular mit dem Ihr direkt Mails verschicken könnt.</td>
    </tr>
    <tr>
      <td><b>19.05.12</b></td>
      <td>Komplette Umgestaltung der einzelnen Skript Seiten. Erstmal exemplarisch an <%= link_to t('link_khadvancedassignment'), khadvancedassignment_path %></td>
    </tr>
    <tr>
      <td><b>18.05.12</b></td>
      <td><%= link_to t('link_installdescription'), help_path %> hinzugefügt.</td>
    </tr>
  </table>
</p>
