<%= render 'toolsdescription_navigation' %>
 
<div class="pill-content">
  <div class="active" id="history">
    <%= render 'khadvancedpatientview_history' %>
  </div>
  <div id="description">
    <p>
      Durch das Weltwunder wurden einige Boni eingeführt die so nicht in der Patientenakte auftauchen. Daher hab ich die Akte um folgende Punkte erweitert:
      <ul>
        <li>Die Behandlungszeiten werden nun mit dem WW Bonus angezeigt.</li>
        <li>Es kann der Medi-Bonus (mit Forschungslevel) in der Behandlungszeit berücksichtigt werden.</li>
        <li>Wieviel Punkte bringt dieser Patient (mit und ohne Medis).</li>
        <li>Was zahlt der Patient mit WW Bonus.</li>
        <li>Was kosten die Medis für den Patient.</li>
        <li>Wieviel Gewinn mache ich mit dem Patient.</li>
      </ul>
    </p>
  </div>
  <div id="download">
    <p>
      <ul class="unstyled">
        <%= render 'khadvancedpatientview_important' %>
        <li>&nbsp;</li>
        <li><%= link_to t('link_installdescription'), help_path %></li>
      </ul>
      <table>
        <tr>
          <td>1.</td>
          <td><%= link_to t('link_basickhscript'), "../tools/basickhscript/BasicKHScript.user.js" %></td>
          <td><%= file_version('basickhscript/BasicKHScript.user.js') %></td>
          <td><%= file_timestamp('basickhscript/BasicKHScript.user.js') %></td>
        </tr>
        <tr>
          <td>2.</td>
          <td><%= link_to t('link_khadvancedpatientview'), "../tools/khadvancedpatientview/KHAdvancedPatientView.user.js" %></td>
          <td><%= file_version('khadvancedpatientview/KHAdvancedPatientView.user.js') %></td>
          <td><%= file_timestamp('khadvancedpatientview/KHAdvancedPatientView.user.js') %></td>
        </tr>
      </table>
    </p>
  </div>
  <div id="settings">
    <p>
      <strong>Wie stelle ich ein, welche Stufe im WW abgeschlossen wurde?</strong><br />
      Öffnet euer Spielerprofil in KH mit einem klick auf den Kopf.<br />
      Dann wählt ihr Allgemein aus<br />
      <%= image_tag 'tools/screenshot_ww_config.jpg' %><br />
      Nun könnt ihr einfach die Stufe eintragen und fertig. Das wird sich wieder für jeden Arzt/Server gemerkt.
    </p>
    <p>
      <strong>Wie stelle ich ein, ob die Behandlungszeiten mit Medis angezeigt werden sollen?</strong><br />
      Öffnet euer Spielerprofil in KH mit einem klick auf den Kopf.<br />
      Dann wählt ihr unter Tools KHAdvancedPatientView aus<br />
      <%= image_tag 'tools/khadvancedpatientview/screenshot_config.jpg' %><br />
      Nun könnt ihr einfach den Haken setzen. Das wird sich wieder für jeden Arzt/Server gemerkt.
    </p>
  </div>
  <div id="screenshots">
    <%= image_tag 'tools/khadvancedpatientview/screenshot_01.png' %><br />
  </div>
  <div id="todo">
      Todo-Liste:
      <ul>
        <li>Alles Erledigt!</li>
      </ul>
  </div>
</div>
 
<script>
  $(function () {
    $('.tabs').tabs()
  })
</script>
