<%= render 'toolsdescription_navigation' %>
 
<div class="pill-content">
  <div class="active" id="history">
    <%= render 'khadvancedmedrack_history' %>
  </div>
  <div id="description">
    <p>
      Dieses völlige Chaos im Medischrank und das man mehrmals blättern muss, um eine Sorte Behandlungsräume mit Meds versorgen zu können, fand ich sehr ungeschickt. Daher wurde der Medizinschrank umgestalltet.
      <ul>
        <li>Alle Medikamente für einen Raum sind nun hintereinander und haben alle den gleichen Hintergrund.</li>
        <li>Wird eine konfigurierbare Mindestmenge unterschritten, färbt sich der Hintergrund rot.</li>
        <li>Das neueste Medikament sortiert sich immer am Ende ein.</li>
        <li>Alle Medikamente für einen Raum sind auf einer Seite. Passen sie nicht mehr auf die aktuelle Seite, wanden alle auf eine neue Seite.</li>
        <li>Unter den Meds steht nun wieviel hT in Meds angelegt sind.</li>
        <li>Durch einen Doppelklick auf das Medikament geht nun direkt der Shop auf der es verkauft. Wobei bei nicht PA Accounts darauf geachtet wird das man nur Mittwochs und Samstags nach Bruchberg kommt.</li>
        <li>Ihr könnt eine Standardmenge für Medikamente und Seuchen hinterlegen. Beim einkaufen wird dann automatisch die fehlende Menge des Medikaments eingetragen.</li>
        <li>Das Regal ist durchgängig blätterbar. Wenn ihr auf der letzten Seite seid, springt ihr wieder auf die erste.</li>
      </ul>
    </p>
  </div>
  <div id="download">
    <p>
      <ul class="unstyled">
        <%= render 'khadvancedmedrack_important' %>
        <li>&nbsp;</li>
        <li><%= link_to t('link_installdescription'), help_path %></li>
      </ul>
      <table>
        <tr>
          <td>1.</td>
          <td><%= link_to t('link_basickhscript'), "../tools/basickhscript/BasicKHScript.user.js" %></td>
          <td><%= file_version('basickhscript/BasicKHScript.user.js') %></td>
          <td><%= file_timestamp('basickhscript/BasicKHScript.user.js') %></td>
        </tr>
        <tr>
          <td>2.</td>
          <td><%= link_to t('link_khadvancedmedrack'), "../tools/khadvancedmedrack/KHAdvancedMedRack.user.js" %></td>
          <td><%= file_version('khadvancedmedrack/KHAdvancedMedRack.user.js') %></td>
          <td><%= file_timestamp('khadvancedmedrack/KHAdvancedMedRack.user.js') %></td>
        </tr>
      </table>
    </p>
  </div>
  <div id="settings">
    <p>
      <strong>Wie ändere ich die Menge, auf die beim Medikamentenkauf, aufgestockt werden soll?</strong><br />
      Standardmäßig sind 50 als Menge für Medikamente und 5 für Seuchemmedikamente voreingestellt.<br />
      Öffnet euer Spielerprofil in KH mit einem klick auf den Kopf.<br />
      Dann wählt ihr unter Tools KHAdvancedMedRack aus<br />
      Um dies zu ändern macht ihr euer Account Fenster auf:
      <%= image_tag 'tools/khadvancedmedrack/screenshot_config.jpg' %><br />
      Nun habt ihr alle Konfigurationsmöglichkeiten auf einen Blick.<br />
      Nun könnt ihr die Werte eintragen die ihr möchtet. Er merkt sich eure Werte wieder für jeden Server/Ärztenamen.
    </p>
  </div>
  <div id="screenshots">
    <p>
      Sortierter Medischrank:<br />
      <%= image_tag 'tools/khadvancedmedrack/screenshot_01.jpg' %>
    </p>
    <p>
      Sortierter Medischrank mit Medikamenten unter der Mindestmenge:<br />
      <%= image_tag 'tools/khadvancedmedrack/screenshot_02.jpg' %>
    </p>
  </div>
  <div id="todo">
      Todo-Liste:
      <ul>
        <li>Alles Erledigt!</li>
      </ul>
  </div>
</div>
 
<script>
  $(function () {
    $('.tabs').tabs()
  })
</script>
