<%= render 'toolsdescription_navigation' %>
 
<div class="pill-content">
  <div class="active" id="history">
    <%= render 'khadvancedassignment_history' %>
  </div>
  <div id="description">
    <p>
      Ich habe das Überweisen mit den Funktionen versehen, die mir fehlten:
      <ul>
        <li>Wird ein Patient an die Börse gestellt, wird der eingestellte Preis automatisch eingetragen.</li>
        <li>Wird ein Patient überwiesen, wird ein Standard Empfänger (bei mir mein AuslagerAccount) eingetragen und der eingestellte Preis eingetragen.</li>
        <li>Nach dem Einlagern/Überweisen wird die Mappe automatisch wieder ausgeblendet.</li>
        <li>Es kann konfiguriert werden, welche Preise für die Überweisung und an der Börse benutzt werden.</li>
        <li>Es kann konfiguriert werden, das das Überweisen und einstellen an die Börse automatisch passiert (Ihr müßt nicht noch mal den Überweisen/Einstellen Knopf drücken).</li>
      </ul>
    </p>
  </div>
  <div id="download">
    <p>
      <ul class="unstyled">
        <%= render 'khadvancedassignment_important' %>
        <li>&nbsp;</li>
        <li><%= link_to t('link_installdescription'), help_path %></li>
      </ul>
      <table>
        <tr>
          <td>1.</td>
          <td><%= link_to t('link_basickhscript'), "../tools/basickhscript/BasicKHScript.user.js" %></td>
          <td><%= file_version('basickhscript/BasicKHScript.user.js') %></td>
          <td><%= file_timestamp('basickhscript/BasicKHScript.user.js') %></td>
        </tr>
        <tr>
          <td>2.</td>
          <td><%= link_to t('link_khadvancedassignment'), "../tools/khadvancedassignment/KHAdvancedAssignment.user.js" %></td>
          <td><%= file_version('khadvancedassignment/KHAdvancedAssignment.user.js') %></td>
          <td><%= file_timestamp('khadvancedassignment/KHAdvancedAssignment.user.js') %></td>
        </tr>
      </table>
    </p>
  </div>
  <div id="settings">
    <p>
      <strong>Wie bestimme ich an welchen Account ausgelagert wird?</strong><br />
      Wenn ihr das erste mal nach dem installieren des Skriptes einen Patienten überweisen wollt. Sieht der Überweisungseintrag so aus:<br />
      <%= image_tag 'tools/khadvancedassignment/screenshot_referral_new.jpg' %><br />
      Nun öffnet ihr einfach das Überweisungsaddressbuch<br />
      <%= image_tag 'tools/khadvancedassignment/screenshot_addressbook_new.jpg' %><br />
      Klickt auf den Namen eurer Wahl</br>
      <%= image_tag 'tools/khadvancedassignment/screenshot_addressbook_assigned.jpg' %><br />
      Und schon habt ihr den Arzt bestimmt, der nun immer automatisch eingetragen wird. Der Name wird sich gemerkt, und zwar in der Kombination Server + Arztname. Wenn ihr also auf mehreren Serven spielt, müßt ihr das erste mal auf allen Servern einen Namen bestimmen.
    </p>
    <p>
      <strong>Wie ändere ich an welchen Account ausgelagert wird?</strong><br />
      Einfach das Überweisungsaddressbuch auf machen und anderen Namen anklicken. Die Option "Auto Überweisung" darf dazu nicht angehackt sein.
    </p>
    <p>
      <strong>Wie komme ich ins Konfigurationsmenü?</strong><br />
      Öffnet euer Spielerprofil in KH mit einem klick auf den Kopf.<br />
      Dann wählt ihr unter Tools KHAdvancedAssignment aus<br />
      <%= image_tag 'tools/khadvancedassignment/screenshot_config.jpg' %><br />
      Nun habt ihr alle Konfigurationsmöglichkeiten auf einen Blick.<br />
      Die Prozentangabe bezieht sich auf den MaxPreis.
    </p>
  </div>
  <div id="screenshots">
    <p>
      Überweisungsaddressbuch mit Zuweisung:<br />
      <%= image_tag 'tools/khadvancedassignment/screenshot_01.jpg' %>
    </p>
  </div>
  <div id="todo">
      Todo-Liste:
      <ul>
        <li>Alles Erledigt!</li>
      </ul>
  </div>
</div>
 
<script>
  $(function () {
    $('.tabs').tabs()
  })
</script>
