<%= render 'toolsdescription_navigation' %>
 
<div class="pill-content">
  <div class="active" id="history">
    <%= render 'khtimer_history' %>
  </div>
  <div id="description">
    <p>
      Es werden folgende Timer und Anzeigen eingeführt:
      <ul>
        <li>Jeder Raum bekommt seinen Timer.</li>
        <li>Jede Etage bekommt einen Timer mit der kürzesten Behandlungszeit dieser Etage.</li>
        <li>Susi hat nun auch einen Timer.</li>
        <li>Die Garage bekommt einen Zähler und einen Timer.</li>
        <li>Durch einen Klick auf den Garagen-Timer kommt man in die Garage.</li>
        <li>Das gesamte Krankenhaus bekommt einen Timer mit der kürzesten Behandlungszeit im ganzen Krankenhaus.</li>
        <li>Es gibt einen Logout-Timer.</li>
        <li>Es gibt eine Anzeige die zählt wo Timer ausgelaufen sind. So sieht man auf einen Blick in welchen Etagen es wieder etwas zu tun gibt.</li>
        <li>Der Titel von KH zeigt nun den Krankenhaus-Timer und die Anzahl fertiger Patienten an. So kann ich im Browser Tab sehen wann es wieder was zu tun gibt, ohne das ich ins KH switchen muss.</li>
        <li>Fast alle Timer sind ein-/ausblendbar.</li>
        <li>Ab 30s bekommt ein Timer einen grünen Hintergrund.</li>
      </ul>
    </p>
  </div>
  <div id="download">
    <p>
      <ul class="unstyled">
        <%= render 'khadvancedreferral_important' %>
        <li>&nbsp;</li>
        <li><%= link_to t('link_installdescription'), help_path %></li>
      </ul>
      <table>
        <tr>
          <td>1.</td>
          <td><%= link_to "BasicKHScript", "../tools/basickhscript/BasicKHScript.user.js" %></td>
          <td><%= file_version('basickhscript/BasicKHScript.user.js') %></td>
          <td><%= file_timestamp('basickhscript/BasicKHScript.user.js') %></td>
        </tr>
        <tr>
          <td>2.</td>
          <td><%= link_to "KHTimer", "../tools/khtimer/KHTimer.user.js" %></td>
          <td><%= file_version('khtimer/KHTimer.user.js') %></td>
          <td><%= file_timestamp('khtimer/KHTimer.user.js') %></td>
        </tr>
      </table>
    </p>
  </div>
  <div id="settings">
    <p>
      <strong>Wie stelle ich ein, welche Timer angezeigt werden?</strong><br />
      Öffnet euer Spielerprofil in KH mit einem klick auf den Kopf.<br />
      Dann wählt ihr unter Tools KHTimer aus<br />
      <%= image_tag 'tools/khtimer/screenshot_config.jpg' %><br />
      Nun sezt einfach die Haken bei den Timern die ihr haben wollt. Das wird sich wieder für jeden Arzt/Server gemerkt.
    </p>
    <p>
      <strong>Wie setze ich den Behandlungszähler zurück?</strong><br />
      Einfach einmal in den Counter klicken schon wird er auf 0 zurückgesetzt.
    </p>
  </div>
  <div id="screenshots">
    Timer:<br />
    <%= image_tag 'tools/khtimer/screenshot_01.jpg', :width => 650 %><br />
  </div>
  <div id="todo">
      Todo-Liste:
      <ul>
        <li>Timer bei den Pillenwerkstätten entfernen</li>
      </ul>
  </div>
</div>
 
<script>
  $(function () {
    $('.tabs').tabs()
  })
</script>
