<p>
<h3><%= link_to t('link_khplanner'), khplanner_path %></h3>
<ul>
<li>Planung aller Räume wie im KH. Endlich keine falsch gestellten Räume mehr.</li>
<li>Planungen können abgespeichert und geladen werden.</li>
<li>Es kann der Istzustand und die Wunschplanung gleichzeitig erfasst werden. Dazu gibt es dann eine ganze Reihe von Auswertungen.</li>
<li>Es werden aus dem Istzustand Tips zur Upgradereihenfolge gegeben.</li>
</ul>
</p>

<p>
<h3><%= link_to t('link_khadvancedassignment'), khadvancedassignment_path %></h3>
<span class="label important">Achtung</span> KHAdvancement und KHAdvancedAssignment dürfen nicht zusammen aktiv sein. Das kann zu Problemem führen! Also bitte für eins von beiden entscheiden<br />
<span class="label important">Achtung</span> Es wird Version 1.1 für KHAdvancedPatientView benötigt
<ul class="unstyled">
  <li><span class="label success">Neu</span> in 1.0</li>
  <ul>
    <li>Fix für KHAdvancedPatientView</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Einfaches Überweisen von Patienten an einen konfigurierbaren Empfänger, zum Max Preis</li>
    <li>Einfaches Einstellen von Patienten an die Börse, zum Min Preis</li>
  </ul>
</ul>
</p>
<p>
<h3><%= link_to t('link_khadvancedmedrack'), khadvancedmedrack_path %></h3>
<ul class="unstyled">
  <li><span class="label success">Neu</span> in 1.0</li>
  <ul>
    <li>Alle Medikamente eines Raumes hintereinander</li>
    <li>Direkter Zugriff auf die Medikamentenshops</li>
    <li>Beim Einkauf Aufstockung auf eine bestimmte Menge</li>
    <li>Anzeige wie viel hT ich in Medikamenten gebunden habe</li>
  </ul>
</ul>
</p>
<p>
<h3><%= link_to t('link_khadvancedpatientview'), khadvancedpatientview_path %></h3>
<span class="label important">Achtung</span> wenn KHAdvancedPatientView zusammen mit KHAdvancedAssignment benutzt wird dann unbedingt Version 1.1 von KHAdvancedAssignment.
<ul class="unstyled">
  <li><span class="label success">Neu</span> in 1.0</li>
  <ul>
    <li>Behandlungszeiten zeigen nun den Bonus durch WW an.</li>
    <li>Wieviele Punkte bringt der Patient (mit und ohne Medis)</li>
    <li>Gesamtkosten der Medis für den Patienten</li>
    <li>Wieviel Gewinn mache ich mit einem Patienten</li>
    <li>Bei allen Werten werden die Boni durch die WW schon mit eingerechnet</li>
  </ul>
</ul>
</p>
<p>
<h3><%= link_to t('link_khadvancement'), khadvancement_path %></h3>
<span class="label important">Achtung</span> KHAdvancement und KHAdvancedAssignment dürfen nicht zusammen aktiv sein. Das kann zu Problemem führen! Also bitte für eins von beiden entscheiden
<ul class="unstyled">
  <li><span class="label success">Neu</span> in 1.0</li>
  <ul>
    <li>Einfaches Überweisen von Patienten an einen konfigurierbaren Empfänger</li>
    <li>Zusätzliche Anzeigen in der Überweisungsmappe (Anzahl Patienten, Gesamtertrag)</li>
    <li>4 Filter in der Überweisungsmappe, mit denen der Überblick nicht verloren geht</li>
  </ul>
</ul>
</p>
<p>
<h3><%= link_to t('link_khopticalimprovements'), khopticalimprovements_path %></h3>
<span class="label notice">Hinweis</span> KHOpticalFixes wurde in KHOpticalImpovements umbenannt
<ul class="unstyled">
  <li><span class="label success">Neu</span> in 1.2</li>
  <ul>
    <li>Wenn keine Susi gebucht wurde, oder sie nur noch 3 Tage da ist, erscheint ein Ausrufezeichen</li>
  </ul>
  <li>1.1</li>
  <ul>
    <li>Solange die Wunderpille am Fernseher nich abgeholt wurde, erscheint ein Ausrufezeichen</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Die Pats laufen nun nicht mehr unter dem Fernseher durch</li>
  </ul>
</ul>
</p>
<p>
<h3><%= link_to t('link_khpatientcounter'), khpatientcounter_path %></h3>
<ul class="unstyled">
  <li><span class="label success">Neu</span> in 1.1</li>
  <ul>
    <li>Ihr könnt Olga nun mitteilen, dass ihr die 2 Stufe des Weltwunders abgeschlossen habt. Dann zählt sie die 2 Bonus Patienten, korrekt mit.</li>
  </ul>
  <li>1.0</li>
  <ul>
    <li>Tooltip für die Ausstattungspunkte der die Anzahl Patienten pro Tag anzeigt.</li>
    <li>Olga zählt nun die Patienten die den Tag über so eintrudeln.</li>
  </ul>
</ul>
</p>
<p>
<h3><%= link_to t('link_khshortcuts'), khshortcuts_path %></h3>
<ul class="unstyled">
<li><span class="label success">Neu</span> in 1.0</li>
  <ul>
    <li>Tastaturshortcuts für KH</li>
  </ul>
</ul>
</p>
