<p>
<span class="label important">Achtung</span> Da nun viele Skripte Konfigurationsmöglichkeiten bekommen haben bitte alle installieren Skripte auf aktuellen Stand bringen. Sonst kann es passieren das die Konfigurationsoptionen nicht vorhanden sind, oder komisch aussehen.
</P>
<p>
<h3><%= link_to t('link_khplanner'), khplanner_path %></h3>
<ul>
<li>Planung aller Räume wie im KH. Endlich keine falsch gestellten Räume mehr.</li>
<li>Planungen können abgespeichert und geladen werden.</li>
<li>Es kann der Istzustand und die Wunschplanung gleichzeitig erfasst werden. Dazu gibt es dann eine ganze Reihe von Auswertungen.</li>
<li>Es werden aus dem Istzustand Tips zur Upgradereihenfolge gegeben.</li>
</ul>
</p>

<p>
  <h3><%= link_to t('link_khadvancedassignment'), khadvancedassignment_path %></h3>
  <%= render 'khadvancedassignment_history' %>
</p>
<p>
  <h3><%= link_to t('link_khadvancedmedrack'), khadvancedmedrack_path %></h3>
  <%= render 'khadvancedmedrack_history' %>
</p>
<p>
  <h3><%= link_to t('link_khadvancedmemberlist'), khadvancedmemberlist_path %></h3>
  <%= render 'khadvancedmemberlist_history' %>
</p>
<p>
  <h3><%= link_to t('link_khadvancedpatientview'), khadvancedpatientview_path %></h3>
  <%= render 'khadvancedpatientview_history' %>
</p>
<p>
  <h3><%= link_to t('link_khadvancedreferral'), khadvancedreferral_path %></h3>
  <%= render 'khadvancedreferral_history' %>
</p>
<p>
  <h3><%= link_to t('link_khimprovedgraphics'), khimprovedgraphics_path %></h3>
  <%= render 'khimprovedgraphics_history' %>
</p>
<p>
  <h3><%= link_to t('link_khmedhelper'), khmedhelper_path %></h3>
  <%= render 'khmedhelper_history' %>
</p>
<p>
  <h3><%= link_to t('link_khopticalimprovements'), khopticalimprovements_path %></h3>
  <%= render 'khopticalimprovements_history' %>
</p>
<p>
  <h3><%= link_to t('link_khpatientcounter'), khpatientcounter_path %></h3>
  <%= render 'khpatientcounter_history' %>
</p>
<p>
  <h3><%= link_to t('link_khshortcuts'), khshortcuts_path %></h3>
  <%= render 'khshortcuts_history' %>
</p>
<p>
  <h3><%= link_to t('link_khtimer'), khtimer_path %></h3>
  <%= render 'khtimer_history' %>
</p>
