<ul class="nav secondary-nav">
  <li><%= link_to t('link_signup'), signup_path %></li>
</ul>
<ul class="nav secondary-nav">
  <li class="topbar-text"><%= t('link_or') %></li>
</ul>
<%= form_for(:session, :url => sessions_path, :html => {:class => "pull-right"}) do |f| %>
  <%= f.text_field :email, :class => "input-small", :placeholder => "Email" %>
  <%= f.password_field :password, :class => "input-small", :placeholder => "Password" %>
  <button class="btn" type="submit"><%= t(:link_signin) %></button>
<% end %>