<div class="topbar" data-dropdown="dropdown">
  <div class="fill">
    <div class="container">
      <%= link_to "KHSuite", root_path , :class => "brand" %>
      <ul class="nav">
       <%= topbar_active_list(@title, t(:title_home)) %><%= link_to t('link_home'), root_path %></li>
       <li class="dropdown">
          <a href="#" class="dropdown-toggle"><%= t(:link_tools)%></a>
          <ul class="dropdown-menu">
            <%= topbar_active_list(@title, t(:title_tools_overview)) %><%= link_to t('link_tools_overview'), tools_path %></li>
            <li class="divider"></li>
            <%= topbar_active_list(@title, t(:title_khplanner)) %><%= link_to t('link_khplanner'), khplanner_path %></li>
            <%= topbar_active_list(@title, t(:title_khadvancedassignment)) %><%= link_to t('link_khadvancedassignment'), khadvancedassignment_path %></li>
            <%= topbar_active_list(@title, t(:title_khadvancedmedrack)) %><%= link_to t('link_khadvancedmedrack'), khadvancedmedrack_path %></li>
            <%= topbar_active_list(@title, t(:title_khadvancedpatientview)) %><%= link_to t('link_khadvancedpatientview'), khadvancedpatientview_path %></li>
            <%= topbar_active_list(@title, t(:title_khadvancedreferral)) %><%= link_to t('link_khadvancedreferral'), khadvancedreferral_path %></li>
            <%= topbar_active_list(@title, t(:title_khmedhelper)) %><%= link_to t('link_khmedhelper'), khmedhelper_path %></li>
            <%= topbar_active_list(@title, t(:title_khopticalimprovements)) %><%= link_to t('link_khopticalimprovements'), khopticalimprovements_path %></li>
            <%= topbar_active_list(@title, t(:title_khpatientcounter)) %><%= link_to t('link_khpatientcounter'), khpatientcounter_path %></li>
            <%= topbar_active_list(@title, t(:title_khshortcuts)) %><%= link_to t('link_khshortcuts'), khshortcuts_path %></li>
            <%= topbar_active_list(@title, t(:title_khtimer)) %><%= link_to t('link_khtimer'), khtimer_path %></li>
          </ul>
        </li>
        <%= topbar_active_list(@title, t(:title_help)) %><%= link_to t('link_help'), help_path %></li>
      </ul>
      <ul class="nav secondary-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"><%= t(:link_localization)%></a>
          <ul class="dropdown-menu">
            <%= topbar_active_list(I18n.locale, :de) %><%= language_link "DE", "de" %></li>
            <%= topbar_active_list(I18n.locale, :en) %><%= language_link "EN", "en" %></li>
          </ul>
        </li>
      </ul>
      <% if signed_in? %>
        <%= render 'layouts/signedin' %>
      <% else %>
        <%= render 'layouts/signin' %>
      <% end %>
    </div>
  </div>
</div>
