<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <%= render 'layouts/topbar' %>
    <div class="container" >
      <div class="content">
        <div class="page-header">
          <h1><%= @title %></h1>
        </div>
        <div class="row">
          <div class="span16">
            <% flash.each do |key, value| %>
              <%= content_tag(:div, link_to("×", '#', :class => "close") + content_tag(:p, value), :class => "alert-message #{key}", 'data-alert' => "alert") %>
            <% end %>
            <% if signed_in? && !@user.nil? %>
              <div class="row">
                <div class="span11">
                  <%= yield %>
                </div>
                <div class="span5">
                  <%= render 'doctors/sidebar' %>
                </div>
              </div>
            <% else %>
              <%= yield %>
            <% end %>
          </div>
        </div>
      </div>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
